/* src/components/DynamicScrollPage.css */

/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-size: 16px;
    margin: 0;
  }
  
  /* Common styles for .screen */
  .screen {
    --scroll-length: 1.5;
    --scale: calc(0.8 + 0.2 * var(--scroll-length) * var(--visible-y));
    height: calc(var(--scroll-length) * 100vh);
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.75);
  }
  
  .image {
    position: sticky;
    top: 0;
    transform: scale(var(--scale));
    width: 100%;
    height: 100vh;
  }
  
  .image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: calc(1.5 * var(--visible-y) - 0.5);
  }
  
  img {
    display: block;
    width: inherit;
    height: inherit;
    object-fit: cover;
    object-position: center center;
  }
  
  [data-scroll] {
    transition: opacity 0.7s linear;
  }
  
  [data-scroll="out"] {
    opacity: 0;
  }
  
  [data-scroll-dir-y="0"] [data-scroll="out"] {
    opacity: 1;
  }
  
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: 35em;
    overflow: hidden;
    margin: calc(100% - 100% * var(--scale));
    padding: 5vw;
    color: white;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    --opacity: calc(1.8 + 2 * var(--viewport-y));
    opacity: var(--opacity);
  }
  
  .content h3 {
    font-size: 3rem;
    margin-bottom: 0.5em;
  }
  
  .content p {
    font-size: 1.5rem;
    margin-top: 0;
    line-height: 1.4;
  }
  
  .char {
    opacity: calc(var(--opacity) - var(--char-index) / var(--char-total));
  }
  