.custom-shape-divider-top-1694574448 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1694574448 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 14px;
}

.custom-shape-divider-top-1694574448 .shape-fill {
    fill: #FFC2BF;
}