.custom-shape-divider-top-1694490609 {
    
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1694490609 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 25px;
}

.custom-shape-divider-top-1694490609 .shape-fill {
    fill: #FFF35F;
}